.map,
.ymaps-2-1-79-map,
.ymaps-2-1-79-map,
.ymaps-2-1-79-map {
  width: 37.917vw;
  height: 20.833vw;
  border-radius: 1.042vw;
}

.map-sm {
  width: 37.917vw;
  height: 20.833vw;

  border-radius: 1.042vw;
  overflow: hidden;
}
